<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html>
<head>
<title>WICG Contributions</title>
<link rel=stylesheet href="bootstrap.3.3.6.min.css">
<style>
blockquote { font-size:1em; }
</style>
</head>
<body style="margin:10px;">
<p>Microsoft contributions to WICG since: <%= since %></p>
<p>Data retrieved from GitHub: <%= new Date(retrieved).toISOString() %></p>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Repo</th><th>Type</th><th>Contributor</th><th>Message</th></tr>
  </thead>
  <tbody>
  <% contributions.forEach(c => { %>
    <tr>
	    <td><a href="https://github.com/wicg/<%= c.repo %>"><%= c.repo %></a></td>
	    <td><%= c.type %></td>
	    <td nowrap><img src="<%= c.contributorImage %>" width="24"> <%= c.contributor %></td>
	    <td><div><%- markdown.toHTML(c.message) %></div><div><a href="<%= c.url %>"><%= c.date %></a></div></td>
    </tr>
  <% }); %>
  </tbody>
</table>
	
</body>
</html>